# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/

# Django
*.log
staticfiles/
media/
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre
.pyre/
